.box{
    width: 18vw;
    height: 18vw;
    /* margin: auto; */
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed darkslateblue;
    cursor: pointer;
}
.ent{
display: flex;
margin: auto;
flex-direction: column;
justify-content: center;
align-items: center;
}
.red{
color: red;
}
.fixi{
width: 133px;
height: 120px;
/* object-fit: contain; */
}
.log{
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}